<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /salem-connect/
  
  # Redirect any request that is not a real file or directory to index.html
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /salem-connect/index.html [L]
</IfModule>
